@media print {
  @page {
    size: A4 portrait;
    margin: 10mm 10mm 10mm 10mm;

    @bottom-left {
      font-family: Nunito;
      font-size: 8pt;
      color: #52525b;
      content: '02 / 2026';
    }

    @bottom-right {
      font-family: Nunito;
      font-size: 8pt;
      color: #52525b;
      content: counter(page) ' / ' counter(pages);
    }
  }

  html {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;

    filter: opacity(1) !important;
    -webkit-filter: opacity(1) !important;
  }

  body {
    background-size: 21cm 29.7cm;
    font-size: 10pt;
  }
}
