:root {
  --photo-size: 200px;
  --summary-width: calc(var(--photo-size) * 1.5);
  --cv-blue: #2a5978;
  --cv-blue-rgb: 42, 89, 120;
  --cv-blue-light: #428cbd;
  --cv-blue-ultralight: #a1c5de;
  --cv-blue-ultralight-rgb: 161, 197, 222;
  --cv-gray: #e3e8ec;

  --default-font: Nunito;
  --narrow-font: "PT Sans Narrow";

  --bs-body-font-family: var(--default-font);
  --bs-body-font-size: 14px;
  --dot-blue-light: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23a1c5de'/%3e%3c/svg%3e");
}

html {
  word-spacing: 1px;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

body,
.full {
  min-height: 100vh;
}
a {
  color: var(--cv-blue-light);
  font-weight: 600;
}
a:hover {
  color: var(--cv-blue);
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--narrow-font, Nunito);
}

h2,
.h2 {
  text-transform: uppercase;
  font-size: 2.25em;
}

h3,
.h3 {
  font-size: 1.7em;
}

.flex {
  display: flex;
}
.flex.vertical {
  flex-direction: column;
}
.flex.horizontal {
  flex-direction: row;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.align-baseline {
  align-items: baseline;
}

.flex-1 {
  flex: 1;
}
